@use "../../../styles/utils" as u;

.CustomWrapper {
  padding: 2.5%;
  color: white;
  text-align: center;
  h2 {
    text-align: center;
    font-size: u.rem(28);
    font-family: "Gilroy-SemiBold";

    @include u.breakpoint-max(medium) {
      font-size: u.rem(25);
    }
    @include u.breakpoint-max(small) {
      font-size: u.rem(20);
    }
  }
  p.Desc {
    text-align: center;
    font-size: u.rem(20);
    font-family: "Gilroy-Light";

    margin-top: u.rem(24);

    @include u.breakpoint-max(medium) {
      font-size: u.rem(16);
    }
    @include u.breakpoint-max(small) {
      font-size: u.rem(14);
    }
  }

  video {
    margin-top: u.rem(24);
    width: 100%;
  }

  p.Price {
    text-align: center;
    font-size: u.rem(56);
    font-family: "Gilroy-Medium";

    margin-top: u.rem(56);
    margin-bottom: u.rem(56);

    @include u.breakpoint-max(medium) {
      font-size: u.rem(40);
    }
    @include u.breakpoint-max(small) {
      font-size: u.rem(30);
    }
  }
  a {
    display: inline-block;
    position: relative;
    background-color: #760660;
    font-size: u.rem(50);
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: u.rem(100);
    padding: u.rem(20) u.rem(20) u.rem(10) u.rem(20);
    transition: all 500ms;
    // box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);

    @include u.breakpoint-max(medium) {
      font-size: u.rem(30);
    }
    @include u.breakpoint-max(small) {
      font-size: u.rem(20);
    }

    &:hover {
      margin-left: u.rem(-10);
      box-shadow: rgb(255, 255, 255) u.rem(10) u.rem(10) 0px;
    }
  }
}
