@use "../../../styles/utils" as u;

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Gilroy-SemiBold";
  padding: u.rem(25) u.rem(35);

  @include u.breakpoint-max(small) {
    padding: u.rem(15);
  }

  & > div {
    width: calc(100% / 3);

    .logo {
      width: u.rem(120);
      object-fit: cover;
      display: block;
      @include u.breakpoint-max(medium) {
        width: u.rem(100);
      }

      @include u.breakpoint-max(small) {
        width: u.rem(80);
      }
      img {
        width: 100%;
      }
    }
    .MainTitle {
      font-size: clamp(
        u.rem(30),
        calc(1.875rem + ((1vw - 7.68px) * 3.6458)),
        u.rem(72)
      );
      text-align: center;
      color: white;
      margin-bottom: u.rem(-65);
      @media (max-width: u.rem(1024)) {
        margin-bottom: unset;
      }
    }
    &:last-child {
      // text-align: right;
      // .LanguageButton {
      //   background-color: transparent;
      //   outline: none;
      //   border: none;
      //   cursor: pointer;
      //   img {
      //     width: u.rem(30);
      //     height: u.rem(30);

      //     @include u.breakpoint-max(small) {
      //       width: u.rem(21);
      //       height: u.rem(21);
      //     }
      //   }
      // }

      display: flex;
      align-items: center;
      justify-content: flex-end;

      .homeButton {
        img {
          width: u.rem(27);
          margin-right: u.rem(15);
          margin-top: u.rem(2.5);

          @include u.breakpoint-max(small) {
            width: u.rem(18);
            margin-top: u.rem(2.5);
            margin-right: u.rem(10);
          }
        }
      }
    }

    @include u.breakpoint-max(small) {
      &:nth-child(1) {
        width: 20%;
      }
      &:nth-child(2) {
        width: 60%;
      }
      &:nth-child(3) {
        width: 20%;
      }
    }
  }
}
