@use "../../../../styles/utils/" as u;

.HeroWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    margin-top: u.rem(30);

    .ContentHero {
        width: 50%;
        //border: 1px solid green;

        @include u.breakpoint-max(medium) {
            width: 100% !important;
            padding: 0 5%;
        }



        &.Content-1 {
            @media(max-width: u.rem(1024)) {
                width: 40%;
                margin-bottom: u.rem(50);
            }
        }

        &.Content-2 {
            padding: 0 5%;

            h2 {
                font-family: 'Gilroy-SemiBold';
                font-size: u.rem(36);
            }

            p.Description {
                margin-top: u.rem(10);
                font-size: u.rem(16);
                font-family: 'Gilroy-SemiBold';
            }

            ul.HeroList {
                margin-top: u.rem(20);
                line-height: u.rem(20);

                li {
                    font-size: u.rem(14);
                    font-family: 'Gilroy-Light';
                    margin-bottom: u.rem(5);
                }
            }

            p.ListDescription {
                font-size: u.rem(14);
                font-family: 'Gilroy-Light';
                margin-bottom: u.rem(5);

                margin-top: u.rem(20);
            }

            .SizeWrapper {
                margin-top: u.rem(15);

                @media(max-width: u.rem(1024)) {
                    text-align: center;
                }

                p {

                    margin-bottom: u.rem(5);
                    font-size: u.rem(14);
                    font-family: 'Gilroy-SemiBold';
                }

                button {
                    background-color: #6C6C94;
                    border-radius: u.rem(3);
                    font-family: 'Gilroy-Light';
                    color: white;
                    height: u.rem(35);
                    width: u.rem(35);
                    border: unset;
                    margin-right: u.rem(5);
                    cursor: pointer;
                    font-size: u.rem(18);
                }
            }

            .BuyTitle {
                text-align: center;
                font-family: "Gilroy-Medium";
                font-size: u.rem(18);
                margin: u.rem(15) 0;
            }

            .BuyLink {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                a {
                    cursor: pointer;
                    height: u.rem(45);
                    width: 25%;
                    border-radius: u.rem(10);
                    border: none;
                    background-color: white;
                    padding: u.rem(5);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }

                ;
            }

            @media(max-width: u.rem(1024)) {
                width: 60%;
            }
        }
    }
}