@use "../../../styles/utils/" as u;

.TableChartWrapper {
  text-align: center;
  @media(min-width: u.rem(1000)) {
    padding: 0 5%;
  }
  h2 {
    font-family: "Gilroy-SemiBold";
    color: white;
    font-size: clamp(
      u.rem(30),
      calc(1.25rem + ((1vw - 7.68px) * 2.6042)),
      u.rem(50)
    );
    margin-bottom: u.rem(50);
  }
  .SizeChart {
    margin-top: u.rem(75);
    max-width: u.rem(1300);
    width: 100%;
    @include u.breakpoint-max(medium) {
      margin-top: u.rem(25);
    }
  }

  img {
    width: 100%;
  }
}
