@font-face {
  font-family: "Gilroy-Black";
  src: url("../../assets/fonts/Gilroy/Gilroy-Black.woff") format("woff2"),
    url("../../assets/fonts/Gilroy/Gilroy-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../assets/fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Gilroy/Gilroy-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../../assets/fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Gilroy/Gilroy-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../../assets/fonts/Gilroy/Gilroy-Light.woff2") format("woff2"),
    url("../../assets/fonts/Gilroy/Gilroy-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../../assets/fonts/Gilroy/Gilroy-Semibold.woff") format("woff2"),
    url("../../assets/fonts/Gilroy/Gilroy-Semibold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../assets/fonts/Gilroy/Gilroy-Medium.woff") format("woff2"),
    url("../../assets/fonts/Gilroy/Gilroy-Medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
}