.ListingPageWrapper {
    min-height: 100vh;
    width: 100%;

    background-image: url('https://shop.ladyapeclub.com/static/media/base.8501caed82fbaefa5920.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}