@use "../../../styles/utils" as u;

.swiper {
  &.MainSwiper {
    // height: 80%;
    // width: 100%;
    height: u.rem(600);
    max-width: u.rem(600);
    width: 100%;
    margin: 0 auto;
    // border-radius: u.rem(10);
    // border: u.rem(2) solid #fdd23e;
    @media (max-width: u.rem(650)) {
      max-width: unset;
      height: u.rem(600);
      border: u.rem(2) solid #fdd23e;
      border-radius: u.rem(10);
    }
    @media (max-width: u.rem(550)) {
      height: u.rem(450);
    }
    @media (max-width: u.rem(450)) {
      height: u.rem(350);
    }
    .swiper-wrapper {
      .swiper-slide {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &.ThumbSwiper {
    height: 20%;
    overflow: unset;
    max-width: u.rem(600);
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    .swiper-wrapper {
      .swiper-slide {
        width: 25%;
        // height: 85%;
        height: 100px;
        opacity: 1;
        border-radius: u.rem(10);
        overflow: hidden;
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;

        background-size: cover;
        background-position: center;

        @media (max-width: u.rem(500)) {
          height: 70px;
        }
        @media (max-width: u.rem(500)) {
          height: 60px;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .swiper-slide-thumb-active {
        border: u.rem(2) solid #fdd23e;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: white;

          opacity: 0.4;
        }
      }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: u.rem(20);
    }
  }
}
