.extraButtonWrapper {
  position: fixed;
  max-width: 73px;
  width: 100%;
  //background-color: pink;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
  @media (min-width: 899px) {
    display: flex;
  }
  button {
    //color: white;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
  a {
    margin-top: 10px;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
