@use "../../../../styles/utils/" as u;

.ButtonTooltipWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .HoverWrapper {
    position: absolute;
    bottom: u.rem(50);

    height: u.rem(250);
    width: u.rem(250);
    z-index: 1;
    border-radius: u.rem(10);

    display: none;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    .HoverWrapper {
      display: block;
    }
  }
}
