@use "../../../../styles/utils/" as u;

.ButtonTooltipWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  //position: relative;

  @include u.breakpoint-max(medium) {
    position: unset;
  }

  .HoverWrapper {
    position: absolute;
    bottom: u.rem(50);

    //height: u.rem(325);
    width: u.rem(375);
    z-index: 1;
    border-radius: u.rem(10);

    display: none;
    overflow: hidden;

    left: -50px;

    @include u.breakpoint-max(medium) {
      width: 100%;
      left: -5px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    .HoverWrapper {
      display: block;
    }
  }
}
